@tailwind base;

body, html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #c1ff1626;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #abe801 transparent;
  letter-spacing: 0em;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #abe801;
  border-radius: 20px;
  border: 1px solid transparent;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.ko-story aside .ko-timeline-segment {
  background-color: #94c501;
}

.ko-story aside .ko-timeline-segment:hover {
  background-color: #94c501 !important;
}
