@tailwind base;

body, html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #0f0e17;
}

body {
  --menu-width-offset: 0px;
  --site-max-width: 1280px;
  --site-header-height: 60px;
  --site-section-rounding: 20px;
  --site-section-inner-rounding: 14px;
}

@media only screen and (max-width: 700px)
{
  body {
    --site-header-height: 40px;
  }
}

@media only screen and (max-width: 1300px)
{
  body {
    --menu-width-offset: 0px;
  }
}
@media only screen and (max-width: 1600px)
{
  body {
    --menu-width-offset: 170px;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #f25f4c transparent;
  letter-spacing: 0em;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #f25f4c;
  border-radius: 20px;
  border: 1px solid transparent;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.bg-white span, .bg-white p {
  color: #2e2f3e;
}

.bg-white h2 {
  color: #0f0e17;
}

input {
  pointer-events: auto !important;
}

h1, h2, h3 {
  color: #fffffe;
}

h1 .ko-anchor, h2 .ko-anchor, h3 .ko-anchor {
  color: #f25f4c !important;
}

p, q {
  color: #a7a9be;
}

.home span {
  background-color: #f25f4c !important;
  color: #fffffe;
  border-radius: 4px !important;
}

.home strong {
  color: #fffffe;
}

.card {
  background-color: #0f0e17;
}

code {
  color: #fffffe !important;
}

.ko-player {
  background-color: #0f0e17 !important;
  top: 50px !important;
}

.ko-subject-version button:hover {
  background-color: #ff8906 !important;
}

.ko-story aside .dfMxwr {
  background-color: #ff8906 !important;
}

.ko-story-content span[data-effect-id]:not([data-effect-type="invisible"]) {
  background-color: #f25f4c !important;
  color: #fffffe;
  border-radius: 4px !important;
}

.ko-story-content span[data-effect-id]:not([data-effect-type="invisible"]):hover {
  background-color: #e53170 !important;
  color: #fffffe !important;
}

.ko-anchor:hover {
  color: #e53170 !important;
}

.ko-story-content blockquote {
  border-left: 4px solid #f25f4c !important;
}

.ko-story aside .ko-timeline-segment {
  background-color: #f25f4c;
}

.ko-story aside .ko-timeline-segment:hover {
  background-color: #e53170 !important;
}

.ko-pagination {
  position: fixed;
  left: max(calc(42vw - min(var(--site-max-width),100vw) / 2 + var(--menu-width-offset)),1rem);
  transform: translateX(calc(-100% - 3rem));
  bottom: 1rem;
  z-index: 100;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.ko-pagination .ko-menu {
  overflow: hidden;
  border-radius: 8px;
}

.ko-pagination .ko-menu {
  position: sticky;
  display: flex;
  top: 0px;
  width: 96px;
  height: 40px;
  z-index: 100;
  gap: 0rem;
  font-size: 13px;
  color: rgb(34, 34, 34);
  background: #fffffe;
  backdrop-filter: blur(2px);
  flex-shrink: 0;
  transition: box-shadow 0.5s ease 0s;
}

.ko-pagination .ko-menu button:hover, .ko-pagination .ko-menu button[data-state='open'] {
  background: #ff8906;
}

.ko-menu .ko-menu-trigger:hover, .ko-menu .ko-menu-trigger[data-state='open'] {
  background: #ff8906;
}

.ko-menu-content div div[role='menuitem']:focus {
  background-color: rgb(82 145 8 / 36%);
  color: #fffffe;
}

@media only screen and (max-width: 700px)
{
  .ko-pagination {
    left: auto;
    right: 6.5rem;
  }

  .ko-pagination .ko-menu {
    top: auto;
    bottom: 3rem !important;
  }
}

@media only screen and (max-width: 1300px)
{
  .ko-pagination {
    transform: none;
  }
}

.topmenu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 28px;
  background: rgba(193, 255, 22, 0);
  z-index: 1;
  position: sticky;
}

.dropdownmenu {
  position: relative;
}

.menu_drop {
  text-align: left;
  position: absolute;
  z-index: 10;
  border-radius: 3px;
  background: #0f0e17;
  padding: 20px;
  min-width: 350px;
  transform: scaleY(0);
  opacity: 0;
  transform-origin: top left;
  transition: box-shadow 800ms ease,transform 800ms ease, .4s ease-out all;
  box-shadow: 0 0 7px #fffffe;
  border: 1px solid #000;
  -webkit-transition: box-shadow 200ms ease,-webkit-transform 200ms ease;
}

.logo, .menucontent > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menucontent {
  min-width: 50%;
}

.menucontent {
  list-style: none;
}

.topmenu a {
  color: #fffffe;
  text-decoration: none;
  font-weight: bolder;
}

.topmenu a:hover, .topmenu svg g:hover {
  color: #ff8906;
  stroke: #ff8906;
}

.menu_subtitle {
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #fffffe;
  border-bottom: 2px solid #fffffe;
}

.menu_subcours {
  margin-bottom: 40px;
}

.menu_subcours_link {
  display: flex;
  align-items: center;
  font-size: .9em;
  margin-bottom: 12px;
}

.menu_subblock {
  background: #1e2127;
  padding: 12px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .9em;
}

.menu_subblock_content p:not(:last-child) {
  margin-bottom: 12px;
}

.menu_subblock_content .button {
  background: #ff8906;
  display: inline-block;
  border: none;
  padding: 0.6em 1.2em;
  -webkit-appearance: none;
  color: #fffffe;
  border-radius: 2px;
  transition: all .2s ease-in-out;
}

.topmenu .button_login, .pres-video .button_login, .hero .button_login {
  background: #ff8906;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  padding: 0 0.8em;
  height: 50px;
  -webkit-appearance: none;
  color: #0f0e17;
  transition: all .2s ease-in-out;
}

.topmenu .button_login:hover, .pres-video .button_login:hover, .hero .button_login:hover {
  background: #f25f4c;
  color: #2e2f3e;
}

.menu_subblock_content .button:hover {
  color: #fffffe;
  background-color: #ff8906;
}

.side {
  position: fixed;
  z-index: 5;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 56px;
  background: #ff8906;
  color: #0f0e17;
  transition: all .2s;
  overflow: hidden;
}

.side__program {
  width: 500px;
  padding: 12px 12px 40px 0;
  overflow-y: scroll;
  height: 100%;
}

.side__program__course {
  display: flex;
}

.side__program__course__icon {
  position: relative;
  width: 32px;
  height: 32px;
  padding-top: 4px;
  text-align: center;
  margin: 12px 12px 0;
  border: 2px solid #2e2f3e;
  border-radius: 50%;
}

.side__program__course__icon:after {
  content: '';
  display: block;
  position: absolute;
  top: 32px;
  left: 13px;
  height: 19px;
  border: 1px dashed #2e2f3e;
}

.dashicons, .dashicons-before:before {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
}

.side__program__course__title {
  padding-bottom: 4px;
  line-height: 1.2;
  border-bottom: 2px solid black;
}

.side__program__course small {
  font-size: .85em;
  color: #2e2f3e;
}

.side__program__part {
  display: flex;
  margin: 30px 0 12px;
  font-size: .8em;
  font-weight: 400;
  text-transform: uppercase;
}

.side__program__part__picto {
  position: relative;
  width: 56px;
  padding: 0 12px;
  text-align: center;
}

.side__program__part__picto:before {
  left: 8px;
}

.side__program__part__picto:before, .side__program__part__picto:after {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  background: #2e2f3e;
  top: 7px;
  border-radius: 2px;
}

.side__program__part__picto:after {
  right: 8px;
}

.side__program__part__picto:before, .side__program__part__picto:after {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  background: #2e2f3e;
  top: 7px;
  border-radius: 2px;
}

.side__program__part__title {
  color: #0f0e17;
  font-weight: bold;
}

.side__program__part__title span {
  color: #2e2f3e;
}

.side__program__chapter {
  display: flex;
  margin: 15px 0;
  font-size: .7em;
}

.side__program__chapter__num {
  text-transform: uppercase;
  width: 32px;
  margin: 0 12px;
  padding: 0 4px;
  background: #1e2127;
  border-left: 3px solid #e53170;
  text-align: center;
  color: white;
}

.side__program__chapter__text {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #0f0e17;
}

.side__program__lesson {
  position: relative;
  padding: 5px 12px 5px 56px;
  font-weight: 100;
  font-size: .9em;
}

.side__program__lesson:before {
  content: '';
  position: absolute;
  left: 21px;
  top: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #2e2f3e;
}

.side__program__lesson a {
  color: #1C1C21;
  font-weight: 400;
}

.side__program__lesson--current:before {
  z-index: 1;
  border-color: #ffc334;
  background-color: #d79700;
  animation-name: pulse;
  animation-duration: 10s;
  animation-iteration-count: 5;
}

.side__program__lesson--current:after {
  background-color: #ffc334;
}

.side__program__lesson:after {
  content: '';
  position: absolute;
  top: 20px;
  left: 26px;
  width: 2px;
  height: 18px;
  background: #2e2f3e;
}

/* code editeur */

.tabs {
  width: 650px;
  float: none;
  color: white;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: black;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: black;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: black;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: black;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

/* **** */

@media (min-width: 768px)
{
  .side:hover {
    width: 500px;
  }
  .ko-player {
    width: calc(var(--ko-width,100%) - 56px) !important;
    left: 56px !important;
  }
}

@media (max-width: 767px)
{
  .side {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px)
{
  .side {
    cursor: pointer;
  }
}

@media (min-width: 701px)
{
  .ko-subjects {
    height: calc(var(--ko-height,100%) - 50px) !important;
  }
  .ko-pagination {
    left: max(calc(42vw - min(var(--site-max-width),100vw) / 2 + var(--menu-width-offset) + 60px),1rem);
  }
}

@media (min-width: 1025px)
{
  .dropdownmenu:hover > .menu_drop {
    transform: scaleY(1);
    opacity: 1;
    -webkit-transform: translate(4px, -4px);
    -moz-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    transform: scaleY(1), translate(4px, -4px);
    box-shadow: -8px 8px 0 currentColor;
  }
  .ko-subjects {
    border-top-left-radius: 20px;
  }
}

@media only screen and (max-width: 1300px) {
  .topmenu {
    padding: 0 0 0 18.48px;
  }
}

.programme .tab-content {
 max-height: 0;
 -webkit-transition: max-height .35s;
 -o-transition: max-height .35s;
 transition: max-height .35s;
}
/* :checked - resize to full height */
.programme .tab input:checked ~ .tab-content {
 max-height: 100vh;
}
/* Label formatting when open */
.programme .tab input:checked + label{
 /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
 font-size: 1.25rem; /*.text-xl*/
 padding: 1.25rem; /*.p-5*/
 border-left-width: 2px; /*.border-l-2*/
 border-color: #6574cd; /*.border-indigo*/
 background-color: #f8fafc; /*.bg-gray-100 */
 color: #6574cd; /*.text-indigo*/
}
/* Icon */
.programme .tab label::after {
 float:right;
 right: 0;
 top: 0;
 display: block;
 width: 1.5em;
 height: 1.5em;
 line-height: 1.5;
 font-size: 1.25rem;
 text-align: center;
 -webkit-transition: all .35s;
 -o-transition: all .35s;
 transition: all .35s;
}
/* Icon formatting - closed */
.programme .tab input[type=checkbox] + label::after {
 content: "+";
 font-weight:bold; /*.font-bold*/
 border-width: 1px; /*.border*/
 border-radius: 9999px; /*.rounded-full */
 border-color: #b8c2cc; /*.border-grey*/
}
.programme .tab input[type=radio] + label::after {
 content: "\25BE";
 font-weight:bold; /*.font-bold*/
 border-width: 1px; /*.border*/
 border-radius: 9999px; /*.rounded-full */
 border-color: #b8c2cc; /*.border-grey*/
}
/* Icon formatting - open */
.programme .tab input[type=checkbox]:checked + label::after {
 transform: rotate(315deg);
 background-color: #6574cd; /*.bg-indigo*/
 color: #f8fafc; /*.text-grey-lightest*/
}
.programme .tab input[type=radio]:checked + label::after {
 transform: rotateX(180deg);
 background-color: #6574cd; /*.bg-indigo*/
 color: #f8fafc; /*.text-grey-lightest*/
}